<!DOCTYPE html>
<html th:replace="fragments/layout::layout(~{::head}, ~{::body})" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table" border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Data</th>
        <th>Comprador</th>
        <th>Total</th>

    </tr>
    </thead>
    <tr th:each="venda : ${vendas}">
        <td th:text="${venda.id}"> </td>
        <td th:text="${venda.data}"> </td>
        <td  type="text" th:if="${venda.getCliente().tipoObjeto('pessoaFisica')}"  th:text="${venda.cliente.nome}"> </td>
        <td  type="text" th:if="${venda.getCliente().tipoObjeto('pessoaJuridica')}"  th:text="${venda.cliente.nomeFantasia}"> </td>
        <td th:text="${venda.total()}"> </td>
        <td> <a onclick="return window.confirm('Tem certeza que deseja excluir este registro?')"  th:href="@{/templates/venda/remove/{id}(id=${venda.id})}">Excluir</a> </td>
        <td> <a th:href="'/vendas/list/'+${venda.id}">todas</a> </td>
    </tr>
</table>

</body>
</html>